{% extends "adminbase.html" %}
{% block content %}


<style>
    th,td{
        padding: 10px;
        font-size: large;
        color: rgb(0, 0, 0);
    }
    th{
        background-color:rgb(251, 103, 35);
        color: white;
    }
    </style>
    <div style="margin: 50px;">
       <center> <h1 style="margin: 10px;color:rgb(0, 0, 0)">Users</h1>
        <table  style="margin-top: 40px;margin-left: 80px;">
        <tr>
            <th>NAME</th>
            <th>ADDRESS</th>
            <!-- <th>CODER NAME</th> -->
            
            <th>EMAIL</th>
            <th>CONTACT</th>
            <!-- <th>QUALIFICATION</th> -->
         
            
          
            
          
         
            {% comment %} <th colspan="2">ACTION</th> {% endcomment %}
        </tr>
    
   {% for d in data %}
      <tr>
        <td>{{d.name}}</td>
        
        <td>{{d.add}}</td>
       
        <td>{{d.email}}</td>
        <td>{{d.con}}</td>
   
             
           
         
    </tr>
      {% endfor %}
  
        </table>
    </center>
    </div>


    </div>



{% endblock %}