{% extends "userbase.html" %}
{% block content %}

<section class="w3l-contact-2 py-5" id="contact">
    <div class="container py-lg-5 py-md-4 py-2">
        <div class="w3l-header-sec text-center mb-md-5 mb-4">
            
            <h1 style="font-size:60px;" align="left">Request</h1>
        </div>
        <div class="contact-grids d-grid">
            <center>
            <div class="contact-right">
                <form  method="post" class="signin-form">
                    {% csrf_token %}
                    <select name="exp" class="form-control" id="exp">
                        {% for d in data %}
                        <option value="{{d.id}}">{{d.name}}</option>
                        {% endfor %}
                </select>
                        In Cm:
                        <input type="number" name="height" id="w3lName" placeholder="Your Height*"
                            class="contact-input" required="" />
                        <input type="number" name="weight" id="w3lSender" placeholder="Your Weight*"
                            class="contact-input" required="" />
                        <input type="number" name="age" id="w3lSender" placeholder="Your Age*"
                            class="contact-input" required="" />
                            Gender:
                        <select name="gender" class="form-control" id="gender">
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                        </select>
                            Physcial Activity:
                        <select name="select" class="form-control" id="select">
                                <option value="Super Light (little or no exercise)">Super Light (little or no exercise)</option>
                                <option value="Lightly active (1-3 days/week)">Lightly active (1-3 days/week)</option>
                                <option value="Moderately active (3-5 days/week)">Moderately active (3-5 days/week)</option>
                                <option value="Very active (6-7 days/week)">Very active (6-7 days/week)</option>
                                <option value="Super active (twice/day)">Super active (twice/day)</option>
                        </select>
                      <br>
                           
                   
                    <div class="form-buttonhny text-lg-end">
                        <button class="btn btn-style btn-primary">Request</button>
                    </div>
                </form>
            </div>
        </center>
        </div>

   
      
    </div>
</section>
{% if messages %}
{% for msg in messages %}
<script>alert("{{msg}}")</script>
{% endfor %}
{% endif %}
{% endblock %}