{% extends "userbase.html" %}
{% block content %}

<style>
    th,td{
        padding: 10px;
        font-size: large;
        color: rgb(0, 0, 0);
    }
    th{
        background-color:rgb(251, 103, 35);
        color: white;
    }
    </style>
    <div style="margin: 50px;">
       <center> <h1 style="margin: 10px;color:rgb(0, 0, 0)">Requests</h1>
        <table  style="margin-top: 40px;">
        <tr>
            <th>Expert Name</th>
            <th>BMI</th>
            <th>Health Stat</th>
            <th>height</th>
            <th>weight</th>
            <th>Status</th>
            
            
         
            
          
            
          
         
            {% comment %} <th colspan="2">ACTION</th> {% endcomment %}
        </tr>
    
   {% for d in data %}
      <tr>
        <td>{{d.expert.name}}</td>
        
        <td>{{d.bmi}}</td>
        <td>{{d.healthstat}}</td>
        <td>{{d.height}}</td>
        <td>{{d.weight}}</td>
        <td>{{d.status}}</td>
      
        {% if d.status == "Processed" %}
        <td>        <a href="/sfChatPer?email={{d.expert.email}}">Chat</a>
        </td>
        <td>        <a href="/userpyramid?id={{d.id}}">Pyramid</a>
        </td>
        {% endif %}

    
   
             
           
         
    </tr>
      {% endfor %}
  
        </table>
    </center>
    </div>


    </div>
{% if messages %}
{% for msg in messages %}
<script>alert("{{msg}}")</script>
{% endfor %}
{% endif %}
{% endblock %}